body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.nav-bar {
  background-color: #0078d7;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-left {
  color: #fffff9;
  padding-left: 2vw;
}

.nav-right {
  display: flex;
}

.nav-right li {
  list-style: none;
}

.nav-right li a {
  color: #fffff9;
  text-decoration: none;
  padding-right: 2vw;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  margin: 8vh 5vw;
  background-color: white;
  padding: 0 3vw;
}

.demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  align-items: baseline;
  padding: 0 1vw;
}

.demo h3 {
  color: #3e69e6;
}

.add-list-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: baseline;
  padding: 0.5vh 1vw;
}

.input-add {
  border: none;
  outline: none;
  width: 100%;
  padding: 2vh 0;
}

/****************************************************************************************** */

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid silver;
  padding: 1vh 2vw 1vh 0;
}

.list-items-text {
  padding-left: 1vw;
}

.complete {
  background-color: #e0dfdf;
  text-align: center;
  padding: 3vh 0;
}

.complete-text {
  color: #767678;
}

.complete-text:hover {
  text-decoration: underline;
  color: black;
}

.fa-check {
  color: #3e69e6;
}

.list-text {
  text-decoration: line-through;
  color: gray;
}

.list-text1 {
  border: none;
  outline: none;
  width: 55vw;
  padding: 2vh 1vw;
  font-size: 15px;
}

.fa-sync {
  color: silver;
}

.add-here {
  color: gray;
}

.three-dot-icon {
  color: #767678;
}

.fa-trash {
  color: #6b6b6b;
}

.copyright {
  background-color: #0078d7;
  color: white;
  padding: 3vh 2vw;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .list-text1 {
    width: 73vw;
  }
}
